<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"       
       xmlns:jee="http://www.springframework.org/schema/jee" 
       xmlns:ctx="http://www.springframework.org/schema/context"
       
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
       http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.1.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

    <ctx:component-scan base-package="com" />
    <ctx:annotation-config base-package="com" />
    <jee:jndi-lookup id="ds" jndi-name="java/mydb" /> 
    
    <bean  class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping" />
    <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" />
    
    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="ds" />        
        <property name="hibernateProperties">
            <props>                
                <prop key="hibernate.dialect">org.hibernate.dialect.DerbyDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.format_sql">true</prop>                
                <prop key="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.SingletonEhCacheRegionFactory</prop>                
                <prop key="hibernate.cache.use_query_cache">true</prop>
                <prop key="hibernate.cache.use_second_level_cache">true</prop>                
                <prop key="net.sf.ehcache.configurationResourceName">conf/ehcache.xml</prop>                
            </props>
        </property>        
        <property name="annotatedClasses">
            <list>
                <value>com.entity.Customer</value>
            </list>
        </property>
    </bean>
    
    <bean   id="txMgr"
            class="org.springframework.orm.hibernate4.HibernateTransactionManager"
            p:sessionFactory-ref="sessionFactory" />
    
    <bean   id="txAttrBean" 
            class="org.springframework.transaction.interceptor.NameMatchTransactionAttributeSource">        
        <property name="properties">
            <value>
                get*=PROPAGATION_REQUIRED,readOnly
                save*=PROPAGATION_REQUIRED
                update*=PROPAGATION_REQUIRED
            </value>
        </property>
    </bean>
    
    <bean id="customerTransactionProxy" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
        <property name="transactionAttributeSource" ref="txAttrBean" />
        <property name="transactionManager" ref="txMgr" />        
        <property name="target" ref="customerDao" />
        <property name="proxyInterfaces">
            <list>
                <value>com.dao.CustomerDao</value>
            </list>
        </property>
    </bean>    
   
</beans>
